
.calculator {
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 104, 104);
    color: aliceblue;
    margin: auto;
    width: 800px;
    padding: 16px;
    gap: 8px;
}

#display {
    background-color: white;
    color: black;
    padding: 16px;
    font-size: 32px;
    text-align: right;
}


.buttons {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}

.line {
    display: flex;
    width: 800px;
    justify-content: space-around;
}

.button {
    width: 30px;
    padding: 8px 90px;
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}

.number {
    background-color: #b9b8b8;
}

.operator {
    background-color: aqua;
}

#equals {
    background-color: brown;
}

#clear {
    background-color: black;
    color: #ffffff;
}